@charset "utf-8";

body {
  margin: 0;
  padding: 0;

  background-color: #849d8f;

  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.drop-down {
  display: none;
}

.popup {
  display: none;
}

.cart {
  display: none;
}

/* <-------------------------------------- Header ---------------------------------------->*/

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.main-header__text--phone {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

.main-nav {
  display: flex;
  margin-right: auto;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-nav__item {
  margin: 13px;
}

.main-nav__link {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
}

.user-nav {
  display: flex;
  list-style: none;
}

.user-nav__popup {
  display: none;
}

.user-nav__item {
  margin: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/* <------------------------------------- Main Page -----------------------------------------> */

.advantages {
  display: flex;
  flex-direction: column;
  width: 1146px;
  min-height: 306px;

  padding: 5px;
  margin: 20px auto;

  background-image: url('../img/bg-waffle.jpg');
  background-size: cover;

  color: #323232;

  border-radius: 13px;
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.advantages__main-wrapper {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-news {
  width: 560px;
  min-height: 221px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 13px;
  margin-left: auto;

  padding: 1px;

  background-image: url('../img/bg-strawberry.jpg');
  background-repeat: no-repeat;

  color: #323232;

  border-radius: 13px;
}

.blog-news__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.subscription {
  width: 560px;
  min-height: 221px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 13px;

  padding: 1px;

  background-color: #f8f7f4;

  border-radius: 13px;

  color: #5a5a5a;
}

.subscription__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* <------------------------------------ Footer -----------------------------------------> */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 27px;
  margin-left: 27px;
}

.main-footer__social {
  margin-right: auto;
}

.main-footer__info {
  /* empty */
}

.main-footer__developers {
  margin-left: auto;
}

.social {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social__item {
  margin: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;

  max-height: 50px;
}

.info__item {
  margin: 0 15px;

}

.info__item--heart::before {
  content: '🖤';
  margin-left: -10px;
}

.info__link {
  color: #ffffff;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.developers {
  display: flex;
  flex-direction: column;
}

.developers__text {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.developers__link {
  color: #ffffff;
}


/* <------------------------------------Catalogue -----------------------------------> */

.path {
  display: flex;

  list-style: none;
}

.path__item {
  margin: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.path__link {
  color: #ffffff;
}

.user-nav__cart-wrapper {
  display: none;
}

.catalogue {
  display: flex;
  flew-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: 27px;
  margin-right: 27px;
}

.catalogue__item {
  width: 25%;
}

.product-card__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.product-card__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.product-card__weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}


/* <---------------------------------- Technical classes ----------------------------------> */

.border-outline {
  border: 2px solid red;
  outline: 10px solid grey;
}

.border {
  border: 2px solid red;
}
